<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>servletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>myApp</servlet-name>
  	<servlet-class>com.servletDemo.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>myApp</servlet-name>
  	<url-pattern>/addNumber/add</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>studentForm</servlet-name>
  	<servlet-class>com.servletDemo.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>studentForm</servlet-name>
  	<url-pattern>/reading-form-with-Servlets/studentServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>square</servlet-name>
  	<servlet-class>com.servletDemo.SquareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>square</servlet-name>
  	<url-pattern>/addNumber/calculateSquare</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>identity</servlet-name>
  	<servlet-class>com.servletDemo.IdentityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>identity</servlet-name>
  	<url-pattern>/reading-form-with-Servlets2/identity</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>displayId</servlet-name>
  	<servlet-class>com.servletDemo.DisplayIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>displayId</servlet-name>
  	<url-pattern>/reading-form-with-Servlets2/displayIdentity</url-pattern>
  </servlet-mapping>
</web-app>